.ex-1-square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: white;
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: lightcyan; 
    transition: width;
}

.ex-2-square:active {
    width: 400px;
}

.ex-3-square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: lightcyan;
    transition: border-radius 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: lightcyan;
    transition: opacity 3s;
}    

.ex-4-square:hover {
    opacity: 0.0;
}

.ex-5-square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: lightcyan;
    transition: width, height;
}

.ex-5-square:hover {
    width: 200px;
    height: 200px;
}

.ex-5-square:active {
    width: 50px;
    height: 50px;
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-7-img {
    transition: filter 4s;
}

.ex-7-img:hover {
    filter: grayscale(100%); 
}

.ex-8-img {
    filter: hue-rotate(180deg) blur(2px);
    border-radius: 5%;
}

.ex-9-img {
    filter: saturate(0.3) brightness(0.5);
    border-radius: 5%;
    transform: scale(0.6)
}