.ex-1-square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: white;
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: lightcyan; 
    transition: width;
}

.ex-2-square:active {
    width: 400px;
}

.ex-3-square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: lightcyan;
    transition: border-radius 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: lightcyan;
    transition: opacity 3s;
}    

.ex-4-square:hover {
    opacity: 0.0;
}

.ex-5-square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: lightcyan;
    transition: width, height;
}

.ex-5-square:hover {
    width: 200px;
    height: 200px;
}

.ex-5-square:active {
    width: 50px;
    height: 50px;
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-7-img {
    transition: filter 4s;
}

.ex-7-img:hover {
    filter: grayscale(100%); 
}

.ex-8-img {
    filter: hue-rotate(180deg) blur(2px);
    border-radius: 5%;
}

.ex-9-img {
    filter: saturate(0.3) brightness(0.5);
    border-radius: 5%;
    transform: scale(0.6)
}

@keyframes rotation {
    0% { transform: rotate(0deg);
    }
    100% { transform: rotate(359deg);
    }
}

.ex-10-icon {
    animation: rotation 5s infinite linear;
}

@keyframes rotation270 {
    0% { transform: rotate(0deg);
    }
    75% { transform: rotate(270deg);
    }    
}

.ex-11-icon:hover {
    animation: rotation270 5s infinite linear;
}



@keyframes moveborder {   /* non funziona */
    0% { top: 10%;
    }

    100% { top: 50%;
    }    
}

.ex-12-button:hover .ex-12-top-white {
    animation: moveborder 5s 4s linear;
}



 @keyframes moving-top-edge {  /* non funziona */
    0% { top: 0;
    }

    25% { right: 0;
    }

    50% { bottom: 0;
    }

    75% { left: 0;
    }

    100% { top: 0;
    }    
}

.ex-13-button:hover .ex-13-top-white {
    animation: moving-top-edge 4s infinite linear;
}